{% extends 'base.html.twig' %}

{% block body %}
    <div id="contentInternal" class="content-internal">
        <div id="loginBlock" style="width:400px; margin:15px 0; border:1px solid #ccc; padding:2em; overflow:hidden; background-color:#eee;">
            <h3>Forgot Password</h3>
            <form method="post" action="{{ path('forgot_password') }}">
                {{ form_row(form._token) }}
                {% if submitted %}
                    <p>Your e-mail address has been submitted. You should receive an e-mail in your inbox shortly that
                        will explain how to reset your password. If you did not receive an e-mail, please feel free to
                        <a href="">register</a></p>
                {% else %}
                    <p>Enter your e-mail address that is tied to your account. We will send you a secure link that you
                        can then use to reset your password.</p>
                {% endif %}
                <br>
                {{ form_errors(form) }}
                <div>
                    <label for="email">E-Mail Address</label>
                    {{ form_widget(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <br>
                <div>
                    <button type="submit" class="button btnSubmit">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}