{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% use 'form_div_layout.html.twig' with form_label as base_form_label %}

{% block form_label %}
    <b>{{ block('base_form_label') }}</b>
    <br>
{% endblock %}

{% block body %}
    <div id="contentInternal" class="content-internal">
        <div id="loginBlock" style="width:400px; margin:15px 0; border:1px solid #ccc; padding:2em; overflow:hidden; background-color:#eee;">
            <h3>Reset Password</h3>
            <p>Please enter your new password below. Once you have reset your password, you will be able to login with
                the new password.</p>
            <br>
            <form method="post" action="{{ path('reset_password', {token: token}) }}">
                {{ form_row(form._token) }}
                {{ form_row(form.plainPassword.first) }}
                <br>
                {{ form_row(form.plainPassword.second) }}
                <br>
                <div class="right">
                    <button type="submit" class="button btnSubmit">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}