<section id="{{ addressType }}Address">

    {{ form_widget(form.type) }}

    <h4>{{ addressType|capitalize }} Address</h4>

    <div class="form-row">
        <label class="required">Address</label>
        <div class="form-input">
            {{ form_widget(form.addressLine1) }}
        </div>
        <div>
            {{ form_errors(form.addressLine1) }}
        </div>
    </div>
    <div class="form-row">
        <label>Suite</label>
        <div class="form-input">
            {{ form_widget(form.addressLine2) }}
        </div>
        <div>
            {{ form_errors(form.addressLine2) }}
        </div>
    </div>
    <div class="form-row">
        <label class="required">City</label>
        <div class="form-input">
            {{ form_widget(form.city) }}
        </div>
        <div>
            {{ form_errors(form.city) }}
        </div>
    </div>
    <div class="flex-grid  space_xs_m-b-lg ">
        <div class="flex-grid__col-xs-12 flex-grid__col-md-6 space_xs_m-r-md ">
            <label class="required">State</label>
            <div  class="form-input">
                {{ form_widget(form.state) }}
            </div>
            <div>
                {{ form_errors(form.state) }}
            </div>
        </div>
        <div class="flex-grid__col-xs-12 flex-grid__col-md-4">
            <label class="required">ZIP</label>
            <div class="form-input">
                {{ form_widget(form.zip) }}
            </div>
            <div>
                {{ form_errors(form.zip) }}
            </div>
        </div>
    </div>
</section>
