{% extends 'admin/base.html.twig' %}

{% block body %}
    <div id="contentInternal" class="content-internal admin">
        <div id="leftCol">
            <h3>Update Banner Image</h3>
            {{ form_start(bannerForm) }}
            <div class="error">{{ form_errors(bannerForm.bannerImage) }}</div>
            {{ form_label(bannerForm.bannerImage) }}
            {{ form_widget(bannerForm.bannerImage) }}
            <button type="submit" class="small-button"><span class="fa fa-save"></span></button>
            {{ form_end(bannerForm) }}
        </div>
        <div id="rightCol">
            <h4>Current Banner</h4>
            <img id="promo" src="{{ asset('uploads/banner.png') }}?d={{ bannerTime }}">
        </div>
    </div>
{% endblock %}