{% extends 'base.html.twig' %}

{% block body %}
    <div id="contentInternal" class="content-internal">
        <h3>Product Search</h3>
        <br>
        {{ form_start(productSearchForm) }}
            {{ form_label(productSearchForm.q) }}
            {{ form_widget(productSearchForm.q) }}
            {% do productSearchForm.limit.setRendered %}
            <button>Go</button>
        {{ form_end(productSearchForm) }}
        <br>
        {% if pages %}
        <div>
            <h4>Products Found</h4>
            {% include 'product/pages.fragment.html.twig' %}
        </div>
        {% endif %}
    </div>
	<noscript>
		<div style="padding-top:100px; padding-left:4em; min-height:300px;">
			<span class="error">We're sorry!</span><br>
			Javascript is required to display this site.
		</div>
	</noscript>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script subCategory="text/javascript">
        $(document).ready(function(){
            $('a.page').click(function () {
                var page = $(this).data('index');
                event.preventDefault();
                console.log("--> changePage("+page+")");
                $("a.page").removeClass("active");
                $("a.pageLink"+page).addClass("active");
                $("div.productPaging").hide();
                $("div#page" + page ).fadeIn();
            });
            $("div.productPaging:first").show();
        });
    </script>
{% endblock %}
