{% extends "base.html.twig" %}

{% block body %}
    <div id="contentInternal" class="content-internal admin">
        <h1>Change Password</h1>
        <div class="panel padded">
            <div class="error">{{ form_errors(form) }}</div>
            <form method="post" action="{{ path('user_password') }}">
                {{ form_widget(form._token) }}
                <div class="form-row">
                    <label for="current_password">Current Password</label>
                    {{ form_widget(form.current_password) }}
                    {{ form_errors(form.current_password) }}
                </div>
                <div class="form-row">
                    <label for="current_password">Update Password</label>
                    {{ form_widget(form.plainPassword.first) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
                <div class="form-row space_xs_m-b-lg">
                    <label for="current_password">Confirm Updated Password</label>
                    {{ form_widget(form.plainPassword.second) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>
                <div>
                    <button type="button" class="button button-secondary" onclick="window.history.go(-1); return false;">Cancel</button>
                    <button type="submit" class="button btnSubmit">Update</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
